body{

	



}

a {

text-decoration:none;

}

.container{
	
	background-clip: content-box;
	background-image:url(../images/me/me.JPG);
	width:1020px;
	height:1020px;
	margin:auto;
	background-position:top center;
	background-repeat: no-repeat;
	padding-left: 1px;
    padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px; 
	
}



div.attributes {
	
	min-height: 100px;
	max-height: 200px;
	min-width: 220px;
	max-width:	400px;
	border: 2px solid black;
	/*opacity:0.6;*/
	border-radius: 5px;
	display:inline-block; 
	background-color: #7DDEFF;
	box-shadow: 6px 8px 5px #579;
	-moz-box-shadow: 6px 8px 5px #579;
	webkit-box-shadow: 6px 8px 5px #579;
	ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	color:#FFFFFF;
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:250%;
}


.displayed{

	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:300px;
	margin-bottom:auto;
	width:75%;  /*you can use % */
    height: 25%;
	
}


table.center {
	margin-top:auto;
    margin-left:auto; 
    margin-right:auto;
	margin-bottom:auto;
  }



	



#about{
	
	margin-left: 10px;
    margin-right: 10px;
	
}

#resume {
	margin-left: 10px;
    margin-right: 10px;
}

#contact {
	margin-left: 10px;
    margin-right: 10px;
	
}

#projects {
	margin-left: 10px;
    margin-right: 10px;
	
}

#home{
		min-height: 10px;
	max-height: 50px;
	min-width: 40px;
	max-width:	100px;
	border: 2px solid black;
	/*opacity:0.6;*/
	border-radius: 5px;
	display:block; 
	
	background-color: #7DDEFF;
	box-shadow: 6px 8px 5px #579;
	-moz-box-shadow: 6px 8px 5px #579;
	webkit-box-shadow: 6px 8px 5px #579;
	ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	color:#FFFFFF;
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:100%;
	text-decorations:none;
	margin-top:200px;
    margin-left:auto; 
    margin-right:auto;
	margin-bottom:auto;

}

.footer{
	width:1020px;
	height:75px;
	background-color:#4d4d4d;
	font-family: arial;
	font-size: 20px;
	color:white;
	margin:320px auto auto auto;
	padding: 5px 0px 10px 0px;
	
}


#banner
{
	float:right;
	margin-right:25px;	
}

